@import "variables";

#portal-logo img {
  filter: invert(60%) sepia(75%) saturate(503%) hue-rotate(62deg) brightness(93%) contrast(91%);
}

.portalMessage {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 436px;
  text-align: center;
  margin: 0 !important;
  z-index: 999;

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 24px;
    width: 24px;
    height: 24px;
    border: 0;
    background: transparent;
    padding: 0;
  }

  &.statusmessage {
    display: flex;
    align-items: center;
    gap: 12px;
    right: -600px;
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
    color: #000;
    border-width: 0 0 4px 0;
    border-style: solid;
    transition: ease-out all 0.3s;

    &.show {
      right: 20px;
      transition: ease-out all 0.3s;
    }

    svg {
      width: 20px;
      height: auto;
      margin: 0 !important;
    }

    strong {
      display: none;
    }

    &.alert {
      padding: 46px 24px 46px 12px;

      &-info {
        border-color: $info !important;
        background-color: $info--light;

        svg {
          path {
            stroke: $info--dark;
          }
        }
      }

      &-warning {
        border-color: $warning !important;
        background-color: $warning--light;

        svg {
          path {
            stroke: $warning--dark;
          }
        }
      }

      &-danger {
        border-color: $danger !important;
        background-color: $danger--light;

        svg {
          path {
            stroke: $danger--dark;
          }
        }
      }
    }
  }
}

.tox .tox-sidebar-wrap {
  padding: 16px;
}

.tox .tox-edit-area::before {
  border: 0;
}

.itemRow {
  vertical-align: middle;

  .title {
    div {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;

      .badge {
        color: $secondary !important;
        background-color: transparent !important;
        margin-left: auto;
      }

      &.lead-img {
        width: auto;
      }
    }
  }
}

// Interfaces
.i-header {
  padding: 24px 0;

  &__title {
    margin: 0;
  }
}

.i-section {
  padding: 48px 0;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}

.i-card {
  $self: &;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, .1);
  overflow: hidden;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;

    h2 {
      font-size: 16px;
      line-height: 1;
      font-weight: 600;
      flex: 1;
      color: #333;
      margin: 0;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      font-size: 12px;
      line-height: 1;
      font-weight: 600;
      color: #333;
      background: #fff;
      border-radius: 50%;
    }
  }

  &__body {
    flex: 1;
    padding: 12px;
    min-height: 240px;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-style: italic;
      color: #6C6C6C;
      text-align: center;
      height: 100%;
      margin: 0;
    }
  }

  &__footer {
    padding: 12px;
    background: #f9f9f9;
  }

  &--available {
    #{$self}__header {
      background: #f0f7ff;
    }
  }

  &--active {
    #{$self}__header {
      background: rgba($info, .1);
    }
  }
}

.i-group {
  &__title {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 12px;
  }
}

.i-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid #f9f9f9;
    padding: 8px;

    label {
      display: flex;
      align-items: start;
      gap: 8px;
      flex: 1;
      cursor: pointer;
      margin: 0;

      input {
        width: 16px;
        height: 16px;
        cursor: pointer;
        accent-color: #0d6efd;
        margin-top: 3px;
      }

      span {
        color: #333;
        word-break: break-all;

        strong {
          display: block;
        }
      }
    }

    &:hover {
      background: #f9f9f9;
    }
  }
}

.i-btn {
  width: 100%;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  padding: 12px;

  &--success {
    background: $info;
    color: #fff;
  }

  &--danger {
    background: $danger;
    color: #fff;
  }

  &:hover {
    opacity: .9;
  }
}
