#portal-logo img {
  filter: invert(60%) sepia(75%) saturate(503%) hue-rotate(62deg) brightness(93%) contrast(91%);
}

.portalMessage {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  margin: 0 !important;
  z-index: 999;
}

.tox .tox-sidebar-wrap {
  padding: 16px;
}

.tox .tox-edit-area::before {
  border: 0;
}

