@import "variables";

@mixin cleanList {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin linkStyles($link, $visit, $hover, $active) {
  color: $link;

  &:visited {
    color: $visit;
  }

  &:hover {
    color: $hover;
  }

  &:active {
    color: $active;
  }
}

@mixin inputPlaceholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

@mixin palette($palette) {
  @each $name, $values in $palette {
    &.#{$name} {
      @content($values);
    }
  }
}
